<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/GroupRides">Group Rides</a>
      <a mat-list-item routerLink="/Renamer">Renamer</a>
      <a mat-list-item routerLink="/Search">Search</a>
      <a mat-list-item (click)='Logout()'>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Super Duper Search</span>
      <!-- This fills the remaining space of the current row -->
   


        <!-- <input  class="form-control" matInput type="text" [(ngModel)]="search"> -->

      
    </mat-toolbar>
    <div>
      <mat-sidenav-container>
        <div *ngIf='!authenticationModule.accesstoken'>
          <h1>Please connect to strava</h1>
          <button mat-button (click)='connectToStrava()'>Connect Me</button>
        </div>

        <router-outlet *ngIf='authenticationModule.accesstoken'></router-outlet>
      </mat-sidenav-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>