<button mat-button (click)='importRides()'>Import last few rides</button>
<button mat-button (click)='stopImportRides()'>Stop</button>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Keyword</mat-label>
      <input (keydown.enter)='searchRides()' [ngModelOptions]="{standalone: true}" matInput placeholder="Keyword" [(ngModel)]="search">
    </mat-form-field>
    <button mat-button (click)='searchRides()'>Search</button>
</form>

<mat-list>
    <mat-list-item *ngFor="let item of rides">
      <h1 matLine><a  href='https://www.strava.com/activities/{{item.activity}}' [innerHTML]='item.highlights.title || item.title | safeHtml'></a> </h1>
      <p matLine>
        <span [innerHTML]='item.highlights.description || item.description | safeHtml'></span>
        
      </p> 
      <div matLine  *ngFor="let segment of item.highlights.segments" [innerHTML]='segment | safeHtml'></div>  
      <div matLine  *ngFor="let citY of item.highlights.cities" [innerHTML]='citY | safeHtml'></div>  

      <!-- <a matLine href='https://www.strava.com/activities/{{item.activity}}' [innerHTML]='item.highlights.title || item.title | safeHtml'>
      </a>      
      <div mat-line [innerHTML]='item.highlights.description || item.description | safeHtml'></div>
      <div  *ngFor="let segment of item.highlights.segments" mat-line  [innerHTML]='segment | safeHtml'></div> -->
    </mat-list-item>
</mat-list>

<div> {{indexProgress | async}} </div>